header {
    background-color: #244751;
    color: #E8FDFF;
}

body {
    background-color: whitesmoke;
    font-family: 'Palanquin', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
    
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 40%;
}

.post:hover {
    background: lightgrey;
}

.post:active {
    background: black;
    padding: 16px;
}

